<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>InsertarLibro</servlet-name>
        <servlet-class>controlador.InsertarLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarLibro</servlet-name>
        <url-pattern>/InsertarLibro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertarAutor</servlet-name>
        <servlet-class>controlador.InsertarAutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarAutor</servlet-name>
        <url-pattern>/InsertarAutor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BorrarLibro</servlet-name>
        <servlet-class>controlador.BorrarLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrarLibro</servlet-name>
        <url-pattern>/BorrarLibro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
